@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding-top: 50px;
  background-color: gray;
}

#container {
  padding-top: 50px;
  background-color: oldlace;
  border: 5px solid;
  border-radius: 10px;
  height: 300px;
  width: 800px;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-family: "Major Mono Display", serif;
}

#outputtext {
  font-size: 25px;
  font-family: "Major Mono Display", serif;
}

#userInput {
  margin: 25px auto;
  width: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Major Mono Display", serif;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#userInput:focus {
  border-color: lemonchiffon;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.5);
}

.blink-green {
  animation: blink 1s ease-in-out;
  border-color: green;
}

@keyframes blink {
  0%,
  100% {
    background-color: oldlace;
  }
  50% {
    background-color: rgb(92, 207, 92);
  }
}

#btn {
  margin: 25px auto auto 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Major Mono Display", serif;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#btn:hover {
  background-color: gray;
  transform: scale(1.05);
}

#btn:active {
  background-color: seagreen;
  transform: scale(0.95);
}

.congrats {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  font-weight: bold;
  font-family: "Major Mono Display", serif;
  color: #28a745;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fall 5s ease-in-out forwards;
}

@keyframes fall {
  0% {
    top: -100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}

.blink-red {
  animation: blink-red 0.5s ease-in-out;
}

@keyframes blink-red {
  0%,
  100% {
    background-color: #ffcccc;
  }
  50% {
    background-color: #ffe6e6;
  }
}
